body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #1b0850;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: #400468;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(81, 37, 131, 0.1);
    text-align: center;
    width: 350px;
}

.menu-veiculos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #140341;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #600f96;
}

.console-output {
    background-color: #2a0642;
    color: #f8fcf9; /* Verde Matrix */
    padding: 15px;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    min-height: 50px;
    border: 2px solid #1b0850;
}